# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
backend/venv/
frontend/venv/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Node (in case of frontend)
node_modules/
